
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Sidebar Container Start -->
                        <div class="sidebar">                         
                            <div class="widget">
                                <h4>Other Courses</h4> 
                                <h5>Professional Diploma courses (click on a course) </h5>
                                <ul>
                                    <li><%= link_to "Professional Diploma in Android and Web systems", diploma_path %></li>
                                    <li> <%= link_to "Global Infrastructure Management Specialist", gims_path %></li>
                                </ul>

                                <h5>Certificate Courses (click on a course)</h5>
                                <ul>
                                  <li><%= link_to "Android App Development", android_path %> </li>
                                  <li><%= link_to "Professional Mobile First Web Design", webdesign_path %> </li>
                                  <li><%= link_to "Web Development With PHP and Laravel", laravel_path %> </li>
                                  <li><%= link_to "Web Development with Ruby and Ruby on Rails", railscourse_path %> </li>
                                  <li><%= link_to "Hardware and Network Technician (A+, N+)", hnt_path %> </li>
                                  <li><%= link_to "Network Administration (CCNA)", ccna_path %> </li>
                                  <li><%= link_to "Microsoft Server Infrastructure Administration (MCSE)", mcse_path %> </li>
                                  <li><%= link_to "Linux System Administration (RedHat /Ubuntu)", linux_path %> </li>
                                  
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar Container End -->
                    </div>
                </div>
            </div> 
        </section>   