
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- Sidebar Container Start -->
                        <div class="sidebar">  
                        <br><br><br><br><br><br><br><br>                        
                            <div class="widget">
                                <h4>Our Programs</h4>
                                
                                <h5>Professional Diploma courses (click on a course) </h5>
                                <ul>
                                    <li><%= link_to "Professional Diploma in Android and Web systems", diploma_path %></li>
                                    <li> <%= link_to "Mobile phone, Laptop  and Flat screen TV repairs", gims_path %></li>
                                </ul>
                                <h5>Professional Bachelors (click on a course) </h5>
                                <ul>
                                    <li><%= link_to "Bsc in Mobile Computing with Option in Web development", bscmobile_path %></li>
                                    <li><%= link_to "Bsc in Web Development with Option in Android Development", bscweb_path %></li>
                                    <li> <%= link_to "B.Tech. in Mobile phone, Laptop  and Flat screen TV repairs", btechrepair_path %></li>
                                </ul>
                               <!--
                                <h5>Android and Web development Modules(click on a course)</h5>
                                <ul>
                                  <li><%= link_to "Android App Development", android_path %> </li>
                                  <li><%= link_to "Professional Mobile First Web Design", webdesign_path %> </li>
                                  <li><%= link_to "Web Development With PHP and Laravel", laravel_path %> </li>
                                  <li><%= link_to "Web Development with Node, Express and MongoDB", nodecourse_path %> </li>
                                  
                                  
                                </ul>-->
                            </div>
                        </div>
                        <!-- Sidebar Container End -->
                    </div>
                </div>
            </div> 
        </section>   