<!DOCTYPE html>
<html>

    <head>
        <title>Iipawis</title>
        <%= csrf_meta_tags %>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
         <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
         <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    </head>


  

  <body>
  	    <div class="toppanel">
            <div class="container showcase">
                <div class="logo col-md-2 col-md-offset-0 col-xs-6 col-xs-offset-3">
                    <%= image_tag('pages/logo2', class: 'img-responsive pull-right')%>
                </div>
                <div class="page-title col-md-10 col-xs-12">
                <button class="btn btn-info btn-lg pull-right hidden-xs hidden-sm">Apply here</button>
                    <h4 class="page-title ">International Institute for Professional Android, Web and IT Systems</h4>
                    <div class="h-bar hidden-lg hidden-md"><i class="fa fa-book"></i></div>
                    <h5>RAISING TECH AND IT GURUS</h5>
                            
                </div>
            </div>
        </div>
         
        <div class="grad col-sm-12"></div>
    <%= yield %>
  </body>
</html>
